body {
  font-family: $font-sans-body;
  margin: 0;
  padding: 0;
}

.container {
  @include flexbox;
  @include flexwrap(wrap);
  width: 100%;
}

#zone-flex {background-color: $flexRed; margin-right: 40px;}
#zone-maker {background-color: $makerPurple;}
#zone-ipad {background-color: $ipadYellow;}
#zone-library {background-color: $libraryGreen; margin-right: 40px;}
#zone-writing {background-color: $writingOrange;}

#zone-flex, #zone-maker, #zone-library, #zone-writing {
  width: calc(50% - 40px);
}

#zone-ipad {
  width: 100%;
}

.zone {
  display: inline-block;
  text-decoration: none;
  @include rounded(2px); 
  @include shadow();
  margin: 10px;

  h2 {
    display: inline-block;
    margin: 20px 0 10px 20px;
    padding: 0;
    font-size: 48px;
    font-weight: $normal;
    color: $offWhite;
  }

  h3 {
    font-size: 20px;
    font-weight: $normal;
    color: fade-out($offWhite, .4);
    margin: 0 0 40px 20px;
    padding: 0;

    span {
      font-size: 36px;  
      color: $offWhite;
    }
  }

  .avatar {
    @include defaultAvatar(white, 56px);
    opacity: 0;
    display: inline-block;
    float: right;
    margin: 20px 20px 0 0;
  }
}

.bottom-stripe {
  background-color: $offWhite;
  position: relative;
  color: $offBlack;
  padding: 35px 0 20px 20px;

  h3 {
    margin: 0;
    padding: 0;
    color: fade-out($offBlack, .7);

    span {
      font-size: 36px;  
      color: $offBlack;
    }
  }

  .other-teachers {
    margin-left: calc(50% - 135px);
    position: absolute;
    top: -25px;

    .avatar {
      @include defaultAvatar($lightGrey, 50px);
      opacity: 0;
      margin: 0 10px;
    }
  }
}

/* Pending state */

.avatar-pending {
  @include pendingAvatar(56px);
  display: inline-block;
  float: right;
  margin: 20px 20px 0 0;
}

.other-teachers .avatar-pending {
    margin: 0 10px; 
}

