$flexRed: #D32F2F;
$makerPurple: #7B1FA2;
$ipadYellow: #FFAB00;
$libraryGreen: #4CAF50;
$writingOrange: #FF5722;
$offWhite: #FAFAFA;
$offBlack: #222;
$lightGrey: #E7E7E7;


$font-sans-body: 'Helvetica Neue',Helvetica,Arial,sans-serif;


$normal: 400;
$semi-bold: 600;
$bold: 800;

